/* Universal selector */
*{

    padding: 0;
    margin: 0;
}

body,
html
{
 /* Fontfamily Link copied from Googlefonts */
 font-family: 'Montserrat', sans-serif;
 height: 100%;
 color: #fff;
 background-color: #121212;

 display: flex;
 flex-direction: column;

 margin: 0rem;
}

 /* Container */

.container{

    display: flex;
    flex: 1;
    background-color:#000;
    padding: 0.5rem;
    overflow: hidden;
   
}


/* Main-Content-Page */
.main-content{

    border-radius: 0.5rem;
    background-color:#121212;
    margin-left: 245px;
width:100% ;
padding-bottom: 5rem;
overflow-y: auto;

    
}

.albums {
    margin-top: 2rem;

    
}

.album-flex {
    margin-bottom: 1.9rem  !important;
    margin-left: -320%;

  }
  .album-cover {
    height: 3rem !important;
    width: 3rem !important;
    border-radius: 0.2rem;
  }
  
  .col-flex p {
    margin: 0;
    font-weight: normal;
    font-size: 0.5rem;
  }
  
  .album-name {
    color: white;
    margin-bottom: 1rem ;
    font-size: 0.5rem ;
  }


   /* Topbar navbar */
.topbar {

     position: sticky;
     top: 0;
     justify-content: space-between;   /* Horizontally */
     align-items: center;  /* Vertically center */
    padding:2.3rem ;
    padding-right: 0px;
    
}

.topbar .prev-next-arrows img{
    height: 1.3rem;
    width: 1.3rem;

    cursor: pointer;
    
    font-size: 15px;
    border: 0px;
    margin-right: 10px;
   
}

 .topbar .navbar{

    display: flex;
  
    align-items: center;  /* Vertically center */
    margin-top: -5%;
    margin-left: 45%;
  
     
 }

 .topbar  .navbar ul{

    list-style: none; /* To remove bullet points */
 }

 .topbar .navbar ul li {
    display: inline-block;
    margin: 0px 16px;
    width: 70px;
 }
 .topbar .navbar li .divider{

    color: #ffffff;
    font-size: 27px;
  margin-left: 50px;
  margin-right: 0px;
    width: auto;
 }
 
  .topbar .navbar ul li a {
   color: #b3b3b3;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 1px;
 }

 .topbar .navbar button{


 
    background-color: rgb(36, 36, 36);
    font-size: 15px;
    font-weight: bold;
    padding: 0.5rem  0.75rem;
    border: 0px;
    border-radius: 35px;
    cursor: pointer;
    margin: 25px;
margin-left: -9%;
    color:    #b3b3b3;;

 

 }

  .Spotify-Playlist{


    padding: 0.70rem;
    margin: 0rem 0.60rem ;
    margin-top: 1%;
 }

 .cards-container{

    display: flex;
    flex-wrap: wrap; /*The flex-wrap property specifies whether the flexible items should wrap or not.*/
    gap: 0.5rem;
 }

 .card{

    width: 190px;
    background-color: rgb(36, 36, 36); ;
    
    padding: 0.70rem;
    border-radius: 0.5rem;
    height: fit-content;
    margin: 0rem 0.75rem;
 }

 .card-img{

    width: 100%;
    border-radius: 0.35rem;
 }
 .card-name{

    margin: 0.25rem 0;
 }

 .card-description{

    margin: 0;
    font-size: 0.8rem;
    opacity: 0.5;
 }

.flex-top{

    display: flex;
    justify-content: space-between;
    align-items: center;
}



 /* Left sidebar */
.sidebar{
    background-color: #121212;
    flex: 0.25;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 198px;
    padding: 24px;
    margin-right: 0.5rem;
    border-radius: 0.5rem;
    margin-top: 8px;


}

.sidebar .logo  svg{

    width: 130px;
}


.sidebar .sidebarLinks ul{

    list-style: none;
    margin-top: 20px;
   
}


.sidebar .sidebarLinks ul li{

    padding: 20px 0px;
}

.sidebar .sidebarLinks li a{

    text-decoration: none;
    color: #b3b3b3;
    font-weight: bold;
    font-size: 15px;
    
}
 

.flex-top img {
    color: #b3b3b3;
    font-size: 20px;
    margin-right: 10px;
  margin-bottom: -3px;
   
    margin-top: 10px;
   
}



/*Icons*/
.top-icons{
 display: flex;
 flex-direction: column;
 gap: 1.5rem;
 padding: 0rem 0.5rem;

 margin-bottom: 0.5rem;
 border-radius: 0.5rem;
}


/*Links*/
.Link-flex{
display: flex;
justify-content: flex-start;
gap: 1rem;
align-items: center;
opacity: 0.7;
font-weight: 600;
font-size: 0.8rem;
cursor: pointer;

}

.Link-flex img {

    height: 1.3rem;
    width: 1.3rem;
   
}


 .sidebarLinks .Link-flex span{

    font-size: 1rem;
    color: white;
   
 
 
}

/*Pseudo classes */
.Link-flex:hover{
 opacity: 1;
 transition: all 0.3s;


}
.sidebar .sidebarLinks ul li a :hover,
.sidebar  .sidebarLinks ul li a :active,
.sidebar .sidebarLinks ul li a :focus
{

    color: #ffffff;
}


.sidebar .sidebarLinks ul li a .images:hover,
.sidebar .sidebarLinks ul li a .images:active,
.sidebar .sidebarLinks ul li a .images:focus {
    color:#ffffff;
   
}

 .sidebar .policies ul li a:hover {
     color:#ffffff;
    text-decoration: underline;
   
}

.navbar ul li a:hover,
.navbar ul li a:active,
.navbar ul li a:focus {
    color: #ffffff;
    font-size: 15px;

}

.topbar .navbar button:hover,
 .topbar .navbar button:active,
 .topbar .navbar button:focus{
    color:#ffffff;
     
 }






/*<!--Play button on cards -->*/

 .play {

    margin-right: -2rem;
    

 }


 
/*<!-Cards container -->*/
 .cards-container .card .play:hover img{

    opacity: 1;
    transform: translateX(-20);
    visibility: visible !important;
    cursor: pointer;
   
 }
 .cards-container .card:hover{
    background-color: rgb(49, 49, 49);
    cursor: pointer;

 }

 .cards-container .card .play{

    position: relative;

 }

 .cards-container .card .play img{

    position:absolute;
    right: 5px;
    top: -90px;
  padding: 18px;
border-radius: 100%;
opacity: 0;
transition:all ease 0.4s;
cursor: pointer;


 }

 



/* div.Terms and conditions */

.sidebar .policies{

    position: absolute;
    bottom: 85px;
  
}


.sidebar .policies ul{
    list-style: none;
}

.sidebar .policies ul li {
padding-bottom: 0.1px;
margin-left: -6px;
}

.sidebar .policies ul li a{

    text-decoration: none;
    color: #b3b3b3;
    font-weight: 500;
    font-size: 10px;
}



/*<!--Bottom music player-->*/

.Player{

   position: fixed; /*Position should be fixed */
   bottom: 0; 
   left: 0; 
     /*Bottom position because the music player is located at the bottom of the page */
   height: 80px;
   width: 100vw;
   display: flex;
   justify-content: space-between;
   
   align-items: center;
   background-color:black;

 
 }
 
 .volume-controls{
display: flex;
justify-content: flex-end;
   margin-right: 2rem; 
 }

 .player-center{
    display: flex;
    width: 100vw; /*Because entire 50 of viewport width whole screen */
    justify-content: center;
    margin-left: 15%;
   
 }

 .player-control{
    display: flex;
    align-items: center;
    
    

    
 }

 .player-timeline{
    display: flex;
    align-items: center;
   
   
   



 }

 .timeline-slider{

    margin: 0 10px;
    width: 40vw;

 }
 
 .volume-slider {
    width: 100px;
    height: 4px;
    margin-top: 4%;
 
  }
  
  .timeline-slider:hover,
  .volume-slider:hover {
    background-color: #1bd760;
  }


  /* The CSS -webkit-appearance property enables web authors to change the appearance of HTML elements to resemble native User Interface (UI) controls. */
  .timeline-slider,
  .volume-slider {
    -webkit-appearance: none;
  }
  
  .timeline-slider::-webkit-slider-runnable-track,
  .volume-slider::-webkit-slider-runnable-track {
    height: 4px;
    background: #ddd;
    border: none;
    border-radius: 100px;
  }
  
  .timeline-slider::-webkit-slider-thumb,
  .volume-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #1bd760;
    margin-top: -6px;
  }
  
  .timeline-slider:focus,
  .volume-slider:focus {
    outline: none;
  }
  
  .timeline-slider:focus::-webkit-slider-runnable-track {
    background: #ccc;
  }






